<script src="{{ url_for('static', filename='js/admin/theme.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/space-grotesk/font.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin-theme.css') }}" />
<link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" />
